<div id="close-mailing-list-modal" class="modal-x" {{action 'toggleModal'}}>
  &#9587;
</div>
<div class="modal-box">
  <h3 class="heading-text-x">Join the expedition</h3>
  <p class="body-text">Sign up for emails to get new trip announcements before everyone else.</p>
  <form>
    <input type="email" name="email" class="form-field" placeholder="you@email.com" autofocus>
    <button class="small-button" type="submit">Submit</button>
  </form>
</div>
