{{#navbar-header title='Our Team' heroSectionStyle="faq-hero-section"}}
{{/navbar-header}}

<div class="page-container">
	<p>Ed has been leading trips outside since he was young. He often was the one making spreadsheets, organizing people, and looping in new friends. He graduated from Rensselaer Polytechnic Institute, a tech school next to the Adirondack mountains, where he first got into rock climbing. He currently works as a database professional in Chicago. In his spare time he plans his next outdoor trip with new and old friends. He wants to work to bring those experiences to more people. </p>

<p>Cece and Deeds help with tech and marketing shit.</p>

<p>We like to climb.</p>

</div>

{{booking-button page="the-red" buttonText="Book an adventure"}}
