
<div class="hero-section faq-hero-section">
	{{partial 'navbar'}}
	<div class="hero-message-container">
		<h1 class="display-text-x">Classics at the Red &mdash; $500</h1>
	</div>
</div>

<div class="page-container itinerary-container">
	<p>With its central location in Kentucky and its huge volume of routes, the Red River Gorge is one of the most popular climbing meccas east of the Mississippi. Spread out through a wide expanse of national forest land and privately-owned acreage, the Red's sandstone cliffs offer a lifetime of climbing opportunities at all levels.</p>
	<hr>
	<h3 class="heading-text">Sample Itinerary</h3>
	<p>We arrive Friday night, climb Saturday and Sunday, and then you leave Monday morning or can go on self-guided climbing on Monday</p>
	<hr>
	<h3 class="heading-text">Nearby Attractions</h3>
	<p>Thrillsville Adventure</p>
	<p>Lexington Bourbon Tour</p>
	<hr>
	<h3 class="heading-text">Getting There</h3>
	<p>Fly into either LEX or SDF</p>

</div>

{{booking-button page="the-red" buttonText="Book this trip - $500"}}
